* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 40px;
}

.flex {
  display: flex;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.centered {
  top : 50%;
  left : 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  color : white;
}

/*.aspect-wrapper {
  position: absolute;
  width: 100%;
}

.fifth-ratio {
  padding-bottom: 20%
}*/

.texture-selector {
/*  transform: scale(2);*/
/*  position: absolute;*/
/*  top: 0;  bottom: 0;  left: 0;  right: 0;*/
}

.texture-selector img.active {
  border: 2px solid white;
}

/* MENU STYLE */
button {
  color: white;
  background-color: #808080;
  border-color:#808080;
  font-size: 30px;
}

.menu {
  color: white;
  opacity: 0.8;
  background-color: grey;
  padding: 30px;
  border-radius: 20px ;
  overflow: scroll;
  height: 75%;
  width: 75%;
  cursor: default !important;
}
.menu h2 {
  color: white;
  opacity: 0.5;
}

.menu sub {
  font-size: 12px;
}

.exit {
  font-size: 10px;
  width: 30px;
  height: 30px;
  left: 90%;
}


/* AUDIO STYLE */
.audio {
  background-color: white;
  padding: 30px;
  border-radius: 20px ;
}

.audioplayer {
  color: gray;
  font-size: 12px;
  width: 75%;
}

/* PIANO STYLE */
.piano-container {
  display: inline-flex;
  /*border-top: 10px solid black;*/
}

.piano-natural-key {
  width: 50px;
  height: 180px;
  cursor: pointer;
  background: #fafafa;
  margin: 0 2px;
  color: #444;
  padding: 10px;
  border-radius: 0 0 3px 3px;
}

.piano-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
}

.piano-natural-key-playing {
  border-bottom: 10px solid blue;
  color: blue;
}

.piano-accidental-key-wrapper {
  position: relative;
  width: 0;
}

.piano-accidental-key {
  position: absolute;
  cursor: pointer;
  background: #444;
  transform: translateX(-50%);
  width: 36px;
  height: 120px;
  border-radius: 0 0 3px 3px;
  border : 3px solid #444;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;
}

.controller{
  position: absolute;
  top : 80%;
  left : 80%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
}